@charset "utf-8";

@import "reset.scss";

$topBarHeight: 30px;

html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	font-family: "Open Sans", sans-serif;
	background-color: #222222;
	color: #FFFFFF;

	body {
		width: 100%;
		height: 100%;

		header {
			box-shadow: inset 0 10px 15px -10px rgba(255,255,255,0.5);
			-webkit-app-region: drag;
			-webkit-user-select: none;

			h1 {
				height: $topBarHeight;
				font-size: 15px;
				line-height: $topBarHeight;
				text-align: center;
				text-transform: capitalize;
			}

			nav {
				z-index: 2;
				position: absolute;
				left: 0;
				top: 0;

				button {
					margin: 10px;
					width: 13px;
					height: 13px;
					border-radius: 10px;
					-webkit-app-region: no-drag;

					&#quit {
						border: 1px solid rgba(224,73,70,1);
						background-color: rgba(250,97,91,1);
						cursor: default;

						&:hover:before {
							display: block;
							content: "x";
							font-size: 10px;
							font-weight: bold;
							line-height: 11px;
						}
					}
				}
			}
		}
		

		div#container {
			position: absolute;
			left: 0;
			top: 0;
			box-sizing: border-box;
			padding: ($topBarHeight + 10px) 20px 20px 20px;
			width: 100%;
			height: 100%;
			
			section {
				width: 100%;
				height: 100%;

				&#dropZone {
					box-sizing: border-box;
					border: 4px dashed #333333;
					border-radius: 3px;
					background-image: url("../images/drag-and-drop.svg");
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 30% auto;

					p {
						font-size: 15px;
						font-weight: bold;
						color: #555555;
					}
				}
			}
		}

	}
}
