@import "reset.scss";
@import "fonts.scss";

$darkColor: #222222;
$lightColor: #333333;

$thin: 100;
$light: 200;
$normal: 300;
$medium: 400;
$bold: 500;
$black: 600;

$topBarHeight: 34px;

html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	font-family: "Roboto", sans-serif;
	background-color: $lightColor;
	color: #FFFFFF;

	body {
		width: 100%;
		height: 100%;

		header {
			z-index: 2;
			background-color: $darkColor;
			-webkit-app-region: drag;
			-webkit-user-select: none;

			h1 {
				height: $topBarHeight;
				letter-spacing: 1px;
				font-size: 14px;
				font-weight: $light;
				line-height: $topBarHeight;
				text-align: center;
				text-transform: capitalize;
			}

			nav {
				margin: 8px 0 0 10px;
				z-index: 2;
				position: absolute;
				left: 0;
				top: 0;

				&:hover {

					button {

						&#quit {
							background-image: url("../images/quit.svg");
						}

						&#minimize {
							background-image: url("../images/minimize.svg");
						}

						&#fullscreen {
							background-image: url("../images/fullscreen.svg");
						}
					}
				}

				button {
					display: inline-block;
					border: 1px solid transparent;
					width: 13px;
					height: 13px;
					border-radius: 10px;
					color: rgba(0,0,0,0.8);
					cursor: default;
					background-size: 65% auto;
					background-repeat: no-repeat;
					background-position: center center;
					-webkit-app-region: no-drag;

					&#quit {
						border: 1px solid rgba(224,73,70,1);
						background-color: rgba(250,97,91,1);
					}

					&#minimize {
						border: 1px solid rgba(225,157,60,1);
						background-color: rgba(285,186,71,1);
					}

					&#fullscreen {
						border: 1px solid rgba(20,175,63,1);
						background-color: rgba(38,206,81,1);
					}
				}
			}
		}
		

		main {
			position: absolute;
			left: 0;
			top: 0;
			box-sizing: border-box;
			padding: ($topBarHeight + 10px) 20px 70px 20px;
			width: 100%;
			height: 100%;
			-webkit-user-select: none;
			
			section {
				width: 100%;
				height: 100%;
				box-sizing: border-box;

				&#dropZone {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					box-sizing: border-box;
					border: 4px dashed rgba(255,255,255,0.1);
					border-radius: 3px;

					p {
						margin: 5px 0;
						text-align: center;
						text-transform: uppercase;
						letter-spacing: 1px;

						&.drag {
							font-size: 17px;
							font-weight: $medium;
							color: #CCCCCC;
						}

						&.browse {
							font-size: 13px;
							font-weight: $normal;
							color: #777777;

							a {
								text-decoration: underline;
								transition: color 0.3s ease-out 0s;

								&:hover {
									color: #CCCCCC;
								}
							}
						}
					}
				}
			}

			img#generated {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				width: auto;
				height: auto;
			}
		
			nav {
				z-index: 2;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
				background-color: $darkColor;

				button {
					width: 50px;
					height: 50px;
					opacity: 0.5;
					background-color: transparent;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: auto 50%;
					transition: opacity 0.3s ease-out 0s;

					&:hover {
						opacity: 0.8;
					}

					&.preview {
						background-image: url("../images/preview.svg");
					}

					&.preferences {
						background-image: url("../images/preferences.svg");
					}

					&.infos {
						background-image: url("../images/infos.svg");
					}
				}
			}
		}
	}
}
