* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  cursor: default !important; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, button, input[type="submit"] {
  cursor: pointer; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin-Italic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Roboto-Light-Italic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Roboto-Italic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto-Medium-Italic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Roboto-Bold-Italic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Roboto-Black.ttf"); }
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Roboto-Black-Italic.ttf"); }
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  background-color: #333333;
  color: #FFFFFF; }
  html body {
    width: 100%;
    height: 100%; }
    html body header {
      z-index: 2;
      background-color: #222222;
      -webkit-app-region: drag;
      -webkit-user-select: none; }
      html body header h1 {
        height: 34px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 200;
        line-height: 34px;
        text-align: center;
        text-transform: capitalize; }
      html body header nav {
        margin: 8px 0 0 10px;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0; }
        html body header nav:hover button#quit {
          background-image: url("../images/quit.svg"); }
        html body header nav:hover button#minimize {
          background-image: url("../images/minimize.svg"); }
        html body header nav:hover button#fullscreen {
          background-image: url("../images/fullscreen.svg"); }
        html body header nav button {
          display: inline-block;
          border: 1px solid transparent;
          width: 13px;
          height: 13px;
          border-radius: 10px;
          color: rgba(0, 0, 0, 0.8);
          cursor: default;
          background-size: 65% auto;
          background-repeat: no-repeat;
          background-position: center center;
          -webkit-app-region: no-drag; }
          html body header nav button#quit {
            border: 1px solid #e04946;
            background-color: #fa615b; }
          html body header nav button#minimize {
            border: 1px solid #e19d3c;
            background-color: #ffba47; }
          html body header nav button#fullscreen {
            border: 1px solid #14af3f;
            background-color: #26ce51; }
    html body main {
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      padding: 44px 20px 70px 20px;
      width: 100%;
      height: 100%;
      -webkit-user-select: none; }
      html body main section {
        width: 100%;
        height: 100%;
        box-sizing: border-box; }
        html body main section#dropZone {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          border: 4px dashed rgba(255, 255, 255, 0.1);
          border-radius: 3px; }
          html body main section#dropZone p {
            margin: 5px 0;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px; }
            html body main section#dropZone p.drag {
              font-size: 17px;
              font-weight: 400;
              color: #CCCCCC; }
            html body main section#dropZone p.browse {
              font-size: 13px;
              font-weight: 300;
              color: #777777; }
              html body main section#dropZone p.browse a {
                text-decoration: underline;
                transition: color 0.3s ease-out 0s; }
                html body main section#dropZone p.browse a:hover {
                  color: #CCCCCC; }
      html body main img#generated {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: auto; }
      html body main nav {
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #222222; }
        html body main nav button {
          width: 50px;
          height: 50px;
          opacity: 0.5;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto 50%;
          transition: opacity 0.3s ease-out 0s; }
          html body main nav button:hover {
            opacity: 0.8; }
          html body main nav button.preview {
            background-image: url("../images/preview.svg"); }
          html body main nav button.preferences {
            background-image: url("../images/preferences.svg"); }
          html body main nav button.infos {
            background-image: url("../images/infos.svg"); }

/*# sourceMappingURL=app.css.map */
