@charset "utf-8";

* {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	-webkit-appearance: none;
	cursor: default !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a, button, input[type="submit"] {
	cursor: pointer;
}